.chat-body > div {
  margin: 10px 6px;
  width: calc(50% - 100px);
}
.chat-body > div p {
  width: fit-content;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  padding: 6px 6px 18px;
  position: relative;
  min-width: 100px;
}
.chat-body > div p span {
  position: absolute;
  right: 9px;
  bottom: 0px;
  font-size: 12px;
}
.chat-body > div p img {
  width: 300px;
  height: 200px;
}

.chat-body > div.user-message {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 10px 0;
  padding-right: 6px;
}
.chat-body > div.user-message p {
  margin-left: 50%;
  background-color: #dbf8c6;
}
.chat-body {
  overflow: auto;
  height: calc(100vh - 115px);
}
.chat-body::-webkit-scrollbar {
  width: 0;
}
.loading-indicator {
  text-align: center;
  width: 100% !important;
  position: relative;
  top: 50%;
}
